@import "frappe.css";

* {
  font-family: Fira Code Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
  margin: 8px 0 0 8px;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-sleep,
#custom-exit {
  background-color: @surface0;
  padding: 0 1rem;
  margin: 8px 0 0 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 8px;
}

#battery {
  color: @yellow;
}

#battery.charging {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @green;
}

#pulseaudio.output {
  border-radius: 1rem 0px 0px 1rem;
}

#pulseaudio.output.sink-muted {
  color: @maroon;
}

#pulseaudio.input.source-muted {
  color: @maroon;
}

#custom-sleep {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-exit {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 8px;
  color: @red;
}

#tray {
  border-radius: 1rem;
}
